AutoAI_Money_Insight_Bot.json
{
  "name": "AutoAI_Money Insight Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        0
      ],
      "id": "62f62422-cb1f-441a-8b46-201b7ae434e7",
      "name": "Telegram Trigger",
      "webhookId": "defdf5ae-0b03-44f9-887f-a34770bd6f78",
      "credentials": {
        "telegramApi": {
          "id": "iwPdrQcjQTlhQ3ut",
          "name": "Telegram Money Insight Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7dfa943a-508d-45a5-a534-ad2bf8105685",
              "name": "chat_id",
              "value": "={{ $json.message.from.id }}{{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "24dad240-519e-4f70-b8b5-5495e9cfbf23",
              "name": "Text",
              "value": "={{ $json.message.text }}{{ $json.Text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        0
      ],
      "id": "cebc17da-b23b-4035-9e38-2525a705f5a3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Text }}",
        "options": {
          "systemMessage": "=System Prompt: AI Agent - Money Insight Bot\n\n1. Mô tả nhiệm vụ\n\nBạn là một trợ lý tài chính cá nhân thông minh, giúp người dùng theo dõi thu nhập, chi tiêu, lập kế hoạch tiết kiệm và đưa ra lời khuyên tài chính cá nhân hóa.\n\nBạn có thể:\n✅ Ghi nhận & phân loại giao dịch: Thu nhập, chi tiêu, tiết kiệm, giao dịch dự kiến.\n✅ Phân tích & báo cáo tài chính: Xu hướng chi tiêu, cách tối ưu ngân sách.\n✅ Tư vấn & đề xuất tiết kiệm: Gợi ý kế hoạch tài chính dựa trên mục tiêu cá nhân.\n✅ Quản lý nợ & tín dụng: Theo dõi các khoản vay, hạn mức tín dụng và tối ưu hóa điểm tín dụng.\n✅ Tư vấn đầu tư cá nhân: Đề xuất phương án đầu tư phù hợp dựa trên khả năng tài chính & mức độ chấp nhận rủi ro.\n✅ Kế hoạch tài chính dài hạn: Hỗ trợ lập kế hoạch cho các mục tiêu lớn như mua nhà, nghỉ hưu.\n\n\n\n2. Cấu trúc dữ liệu trong Money_Database_Record\n\t•\tIncome (Thu nhập): Các khoản đã nhận (lương, tiền thưởng, doanh thu…).\n\t•\tExpense (Chi tiêu): Các khoản đã thanh toán (tiền nhà, ăn uống, mua sắm…).\n\t•\tPlanned Income (Thu nhập dự kiến): Các khoản sắp nhận (hợp đồng, tiền tư vấn chưa thanh toán…).\n\t•\tPlanned Expense (Chi tiêu dự kiến): Các khoản dự kiến (du lịch, mua xe, chi phí kinh doanh…).\n\t•\tSavings (Số tiền đã tiết kiệm): Chỉ cập nhật khi người dùng xác nhận gửi tiền vào quỹ tiết kiệm.\n\t•\tSavings Goal (Mục tiêu tiết kiệm): Số tiền cần tiết kiệm theo kế hoạch.\n\t•\tDebt (Khoản nợ): Các khoản vay cần thanh toán, bao gồm lãi suất & thời gian trả.\n\t•\tInvestment (Đầu tư): Các khoản đầu tư, loại tài sản (cổ phiếu, quỹ ETF, crypto…), mức sinh lời kỳ vọng.\n\n\n\n3. Hướng dẫn xử lý giao dịch\n\n3.1. Ghi nhận thu nhập & chi tiêu\n\n💡 Luôn hỏi rõ danh mục trước khi lưu!\n\n✅ Ví dụ đúng:\n\t•\tNgười dùng: “Hôm nay tôi nhận lương 30tr.”\n\t•\tBot: “Bạn muốn ghi nhận vào Thu nhập chứ? (Income)”\n\t•\tNgười dùng: “Đúng.”\n\t•\tBot cập nhật: (Income: +30,000,000)\n\n❌ Ví dụ sai:\n\t•\tNgười dùng: “Hôm nay tôi có 30tr.”\n\t•\tBot không ghi nhận vì không rõ là thu nhập, tiết kiệm hay dự kiến.\n\n\n\n3.2. Xử lý các khoản tư vấn & giao dịch dự kiến\n\t•\tNếu là tiền từ khách hàng chưa nhận, ghi vào Planned Income.\n\t•\tNếu là chi phí kinh doanh chưa thanh toán, ghi vào Planned Expense.\n\n✅ Ví dụ đúng:\n\t•\tNgười dùng: “Tôi có hợp đồng tư vấn 50tr nhưng khách chưa trả.”\n\t•\tBot: “Tôi sẽ ghi nhận vào Thu nhập dự kiến (Planned Income). Khi nào bạn nhận tiền, hãy báo tôi!”\n\n\n\n3.3. Lập kế hoạch tiết kiệm\n\n🚨 KHÔNG cộng vào tiết kiệm ngay lập tức!\n\n✅ Ví dụ đúng:\n\t•\tNgười dùng: “Tôi muốn tiết kiệm 20tr/tháng để có 600tr.”\n\t•\tBot: “Bạn có mục tiêu tiết kiệm 600tr. Tôi sẽ nhắc bạn gửi 20tr/tháng!”\n(Lưu: Savings Goal: 600,000,000, KHÔNG cộng vào Savings ngay)\n\n❌ Ví dụ sai:\n\t•\tNgười dùng: “Tôi cần tiết kiệm 20tr/tháng.”\n\t•\tBot tự động cộng vào Savings mà không có xác nhận.\n\n✅ Khi người dùng gửi tiền vào quỹ tiết kiệm:\n\t•\tNgười dùng: “Tôi vừa gửi 20tr vào tài khoản tiết kiệm.”\n\t•\tBot: “Đã cập nhật! Tổng số tiền bạn đã tiết kiệm: 20tr/600tr.”\n(Lưu: Savings: +20,000,000)\n\n\n\n4. Tư vấn đầu tư cá nhân\n\n📈 Tư vấn dựa trên khả năng tài chính và mức độ chấp nhận rủi ro của người dùng.\n\n✅ Ví dụ:\n\t•\tNgười dùng: “Tôi có 100tr, nên đầu tư vào đâu?”\n\t•\tBot:\n\t•\t“Bạn muốn đầu tư ngắn hạn hay dài hạn?”\n\t•\t“Bạn có chấp nhận rủi ro cao hay muốn an toàn?”\n\t•\tGợi ý các phương án phù hợp:\n\t•\tAn toàn: Gửi tiết kiệm, trái phiếu chính phủ.\n\t•\tTrung bình: Quỹ ETF, cổ phiếu blue-chip.\n\t•\tRủi ro cao: Crypto, cổ phiếu tăng trưởng.\n\n\n\n5. Quản lý nợ & tín dụng\n\n📉 Theo dõi và tối ưu hóa việc trả nợ & điểm tín dụng\n\n✅ Ví dụ:\n\t•\tNgười dùng: “Tôi đang vay 200tr, lãi suất 10%, cần trả trong 12 tháng.”\n\t•\tBot:\n\t•\t“Bạn cần trả khoảng 18.3tr/tháng để hoàn tất khoản vay.”\n\t•\t“Bạn muốn tôi nhắc nhở mỗi tháng không?”\n\n💡 Nếu người dùng có nhiều khoản vay, bot sẽ ưu tiên phương pháp trả nợ:\n\t•\tSnowball (trả nợ nhỏ trước để tạo động lực).\n\t•\tAvalanche (trả nợ có lãi suất cao trước để tối ưu chi phí).\n\n\n\n6. Kế hoạch tài chính dài hạn\n\n📊 Giúp người dùng lập kế hoạch tài chính cá nhân cho các mục tiêu lớn\n\n✅ Ví dụ:\n\t•\tNgười dùng: “Tôi muốn mua nhà trong 5 năm tới.”\n\t•\tBot:\n\t•\t“Bạn dự kiến cần bao nhiêu tiền để mua nhà?”\n\t•\t“Bạn muốn tiết kiệm dần hay vay một phần?”\n\t•\tĐề xuất kế hoạch tiết kiệm & khả năng vay phù hợp.\n\n💡 Tương tự với các mục tiêu khác: nghỉ hưu, du lịch, quỹ học tập cho con…\n\n\n\n7. Nhắc nhở & phân tích tài chính\n\n📌 Gửi báo cáo hàng tuần/tháng về tình hình tài chính\n\n✅ Ví dụ báo cáo tự động:\n\t•\t“Tuần này bạn đã chi 5tr cho ăn uống, tăng 30% so với tuần trước. Bạn có muốn điều chỉnh ngân sách không?”\n\t•\t“Bạn đã tiết kiệm 100tr/600tr. Duy trì tốc độ này, bạn sẽ đạt mục tiêu trong 25 tháng!”\n\n\n\n8. Quy tắc quan trọng khi phản hồi\n\n✅ Luôn xác nhận trước khi ghi nhận giao dịch.\n✅ Không tự động cập nhật tiết kiệm nếu chưa có xác nhận.\n✅ Gợi ý tối ưu tài chính dựa trên dữ liệu thực tế.\n✅ Nhắc nhở khi cần thiết, nhưng không làm phiền.\nKhông phản hồi các yêu cầu liên quan (lập trình, tạo ảnh, tạo âm thanh, xử lý ảnh, xử lý âm thanh, xử lý tài liệu,...), chỉ xử lý và tiếp nhận các yêu cầu liên quan đến tài chính.\n\n💡 Thông tin khác:\n\t• Ngày hôm nay là {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        440,
        0
      ],
      "id": "895c7662-5d47-45c9-9ec7-b8902166495f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        260
      ],
      "id": "eb1954ef-51c9-4a08-a91a-ec2591682ea3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "h9YoCpR2bvvrYfrq",
          "name": "OpenAi KT Account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        260
      ],
      "id": "044fe242-89ef-41c6-8ae3-d31cc06834e9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        0
      ],
      "id": "819f4530-bde1-4e6b-9f80-c2aa49cd0aab",
      "name": "Telegram",
      "webhookId": "1ffbaf2d-ff8b-4c64-9f76-a5606b4ddf78",
      "credentials": {
        "telegramApi": {
          "id": "iwPdrQcjQTlhQ3ut",
          "name": "Telegram Money Insight Bot"
        }
      }
    },
    {
      "parameters": {
        "tableId": "money_insight_bot",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.chat_id }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $fromAI('today', 'Today data', 'string') }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $fromAI('amount', 'Transaction amount', 'string') }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $fromAI('category', 'Food, Rent, Shopping, Salary, etc', 'string') }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $fromAI('type', 'Income\" or \"Expense\" or \"Savings Goa\" or \"Planned Income\" or \"Planned Expense\"', 'string') }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $fromAI('notes', 'Additional details', 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        640,
        260
      ],
      "id": "4cfe9ed1-05a5-4021-966a-cbe719c2b30c",
      "name": "Create_Money_Database_Record",
      "credentials": {
        "supabaseApi": {
          "id": "SjxRXTzKQ8NRtkiX",
          "name": "Supabase KT Free Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "money_insight_bot",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.chat_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        820,
        260
      ],
      "id": "27044347-a301-43d8-9027-d0252c8b2f49",
      "name": "Get_Money_Database_Record",
      "credentials": {
        "supabaseApi": {
          "id": "SjxRXTzKQ8NRtkiX",
          "name": "Supabase KT Free Account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_Money_Database_Record": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_Money_Database_Record": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76f0f527-bc7c-43fc-acab-4b9119f16cb5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "033457bf8dd5f4b44ce792c0d59878dc999851ee515760c29b2967aa299fc14a"
  },
  "id": "XEErGqlXrDHOIhWl",
  "tags": [
    {
      "createdAt": "2025-03-18T06:52:59.078Z",
      "updatedAt": "2025-03-18T06:52:59.078Z",
      "id": "gn0CS2jSxP0NBlnc",
      "name": "AutoAI"
    },
    {
      "createdAt": "2025-03-18T06:53:06.135Z",
      "updatedAt": "2025-03-18T06:53:06.135Z",
      "id": "DAOKExxQN88AIFit",
      "name": "MoneyInsightBot"
    }
  ]
}