Crawl_Data___Danh_gia_san_pham_v1.json
{
  "name": "Crawl Data - Danh gia san pham_v1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        40,
        0
      ],
      "id": "97de6a45-a8f6-4d57-bbe4-ec03c82f7eeb",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1540,
        0
      ],
      "id": "129e07e1-6c07-462c-8fae-9af415393583",
      "name": "Wait",
      "webhookId": "c3da9393-6a44-414c-b0db-a2c1d4a72d8e"
    },
    {
      "parameters": {
        "url": "=http://crawl4ai:11235/task/{{ $json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        0
      ],
      "id": "029713bb-74e3-4574-9ad1-05a8e4635fa0",
      "name": "Call Task",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JuPi1c6bAW3o7Z78",
          "name": "Auth CrawlAI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c8b432-4efa-40db-8400-7c145c69950d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        0
      ],
      "id": "b899a095-4fb5-4560-8cde-56138cf6b8a9",
      "name": "Completed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9eda6cd-7d7f-425d-9f46-48737d9c08e2",
              "name": "task_id",
              "value": "={{ $('Crawl').item.json.task_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2220,
        120
      ],
      "id": "df80b674-d436-49bb-bde4-779da7c04220",
      "name": "Set TaskID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://crawl4ai:11235/crawl",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "urls",
              "value": "={{ $json.Link }}"
            },
            {
              "name": "priority",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        0
      ],
      "id": "06847b0a-c5ea-481f-9863-9dd22a06df99",
      "name": "Crawl",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JuPi1c6bAW3o7Z78",
          "name": "Auth CrawlAI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abf6bf93-fbc9-48e1-b009-2832752870d3",
              "name": "result_markdown",
              "value": "={{ $json.result.markdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2220,
        -140
      ],
      "id": "1e808476-17a6-4a40-80b4-c3eef65589fc",
      "name": "setinfo"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.SheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QqLP1BBQE7ccrPMYHk881sK-Z3zMOOxain7IOXDYZhM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        500,
        0
      ],
      "id": "83f5176c-4e66-4407-8995-825c80c3cdb9",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NSafScXZ3S1wiD2M",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI assistant helping extract customer feedback for products from cleaned HTML/markdown content.\n\n## Task\nGiven a `CLEANED_MARKDOWN` content block from e-commerce sites (dienmayxanh.com, cholon.vn, nguyenkim.com), your task is to:\n1. Identify and extract all **customer reviews** or **product feedback** (if any).\n2. Only return real **review content** written by users — skip ads, banners, or promotional text.\n3. Organize extracted reviews in a clean JSON format:\njson\n[\n  {\n    \"product_name\": \"<Product name if available>\",\n    \"customer_name\": \"<Customer name or anonymized if not available>\",\n    \"rating\": \"<Rating out of 5 if available>\",\n    \"review_text\": \"<The full customer feedback>\",\n    \"source\": \"<dienmayxanh.com | cholon.vn | nguyenkim.com>\"\n  }\n]\n\n<CLEANED_MARKDOWN>\n{{ $json.result_markdown }}\n</CLEANED_MARKDOWN>",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2520,
        -140
      ],
      "id": "465bb816-0381-436e-b3a0-0d9a34e8f1c1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"product_name\": \"<Product name if available>\",\n    \"customer_name\": \"<Customer name or anonymized if not available>\",\n    \"rating\": \"<Rating out of 5 if available>\",\n    \"review_text\": \"<The full customer feedback>\",\n    \"source\": \"<dienmayxanh.com | cholon.vn | nguyenkim.com>\"\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2720,
        80
      ],
      "id": "06e78099-d3dd-4cdb-a1ed-a1e69289ff14",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2500,
        80
      ],
      "id": "30e25de3-1bf4-4c27-bfea-c093e9e82bc9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "T9V1Y01OdpoSMtAe",
          "name": "OpenAi LLMs viAct"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80d8ef81-6d0a-4ebc-9b97-89b5445acda8",
              "name": "SheetID",
              "value": "1QqLP1BBQE7ccrPMYHk881sK-Z3zMOOxain7IOXDYZhM",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        0
      ],
      "id": "16000bd5-95b3-4602-8995-1f6f768fc32d",
      "name": "Set"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        -120
      ],
      "id": "93c166d0-67f2-4127-a88d-8b673b5c1c77",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "707935fa-3e7f-4fee-8563-b890a83fcced",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "d645b8b9-9a00-4d4f-8d6b-0cc2bdc76484",
              "name": "Link",
              "value": "={{ $json.Link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        0
      ],
      "id": "eb93629a-f5c2-4ddf-8c70-c762caf9b020",
      "name": "Get"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set').item.json.SheetID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QqLP1BBQE7ccrPMYHk881sK-Z3zMOOxain7IOXDYZhM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get').item.json.row_number }}",
            "Reviews": "={{ $json.output }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Update Date",
              "displayName": "Update Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reviews",
              "displayName": "Reviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2960,
        -140
      ],
      "id": "23fd1823-fd3a-4ac1-b988-a0722367f6c9",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NSafScXZ3S1wiD2M",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2960,
        220
      ],
      "id": "39a9ef72-f412-444c-aae5-b409f8ac6d7d",
      "name": "Wait1",
      "webhookId": "ddc1d329-57af-45c0-b026-d271749ffb13"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Call Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Task": {
      "main": [
        [
          {
            "node": "Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completed": {
      "main": [
        [
          {
            "node": "setinfo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set TaskID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set TaskID": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crawl": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setinfo": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "main": [
        [
          {
            "node": "Crawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6acc0b53-ccda-4114-855e-770fb19ebe7b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "033457bf8dd5f4b44ce792c0d59878dc999851ee515760c29b2967aa299fc14a"
  },
  "id": "WzvPuaK3Q2S5HAUV",
  "tags": []
}